<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <input type="file" (change)="onFileChange($event)" />

    <div id="output"></div>
    <br>
    <div *ngIf="willDownload">
      <a id="download"> Download JSON File </a>
    </div> -->


    <input type="file" (change)="onFileChange($event)"  accept=".xls,.xlsx" />
    <ion-button (click)="onClick()" expand="block">
      Click me
    </ion-button>

    <div>
      <pre id="jsondata"></pre>
    </div>

  </div>
</ion-content>